.article {
    max-width: 100%;
    padding: 30px 0 30px 0;
    text-align: left;
    background: $grey_bg;

    &__hero {
        display: block;
        margin: 10px 0 15px;

        @media (min-width:992px) {
            margin: 10px 0 30px;
        }
    }

    &__grid-box {
        
        @media (min-width:992px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-gap: 0 30px;
            justify-content: center;
        }
    }

    &__card-img {
        height: 200px;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__card {
        padding: 15px 0;
        border-radius: 8px;
        background: $basic_white;

        @media (min-width:992px) {
            padding: 0;
        }
    }

    &__card-body {
        grid-row: 2/3;
        padding: 30px 30px 15px;
    }

    &__date {
        display: block;
        color: #B3B3BA;
        border-bottom: 4px solid #B3B3BA;
        padding: 15px 0;
        font-size: 12px;
        line-height: 15px;
    }

    &__text {
        padding: 15px 0;
        font-size: 14px;
        line-height: 22px;
    }
}