.footer__wrapper {
    background: #F5F5FA;
}

.footer {
    font-weight: 700;
    line-height: 20px;
    padding: 20px 0 30px;
    border-top: 2px solid #E6E6F0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 12px;
    align-items: center;
    grid-template-areas: 
        "address c"
        "contact .";

    .head__contact-link {
        color: #46466E;
    }

    .head__info-contact {
        flex-grow: 0;
        

        &:first-child {
            &:before {
                display: none;
            }
        }

        &:before {
            margin: 0 10px;
            background: #B3B3BA;
        }

        &--foot-fz {
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        &--foot-color {
            color: #24A3FF;
        }
    }

    &__fb {
        font-size: 38px;
    }


    &__address {
        display: flex;
        flex-direction: row;
        grid-area: address;
        flex-grow: 0;
    }

    &__contact {
        display: flex;
        flex-direction: row;
        grid-area: contact;
        flex-grow: 0;
    }

    &__c {
        grid-area: c;
        text-align: end;
        font-weight: 400;
        color: #B3B3BA;
    }
}