.team {
   margin: 50px 15px 39px;

   @media (min-width:992px) {
      display: flex;
      flex-direction: row;
      margin: 80px 0 64px 0;
      border-radius: 12px;
   }

   &__photo {
      height: 500px;
      overflow: hidden;

      @media (min-width:992px) {
         width: 400px;
         height: 344px;
      }

      img {
         width: 500px;
         height: 500px;
         max-width: none;
      }
   }

   &__btn {
      position: relative;
      width: 87px;
      color: #24A3FF;
      
      &:after {
          content: '';
          display: block;
          position: absolute;
          left: 87px;
          top: 4px;
          transform: rotate(45deg);
          width: 8px;
          height: 8px;
          border: 2px solid #24A3FF;
          border-left: transparent;
          border-bottom: transparent;
      }
  }

   &__discription {
      max-width: 920px;
      background: $team__discription-bg;
      padding: 30px;
   }

   &__hero {
      word-wrap: break-word;
      padding: 5px 0 30px 0;
      background: $gradient_red-text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (min-width:768px) {
         word-wrap: normal;
      }
   }

   &__name {
      color: $team__name;
   }

   &__position {
      display: block;
      padding-top: 6px;
      font-size: 14px;
      line-height: 22px;
      color: $team__position;
   }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
   margin: 0 7px;
}
.swiper-pagination-bullet {
   position: relative;
   width: 16px;
   height: 16px;
   background: $pagination-bg;
   opacity: 0.2;

   &-active {
      opacity: 1;
   }
}

